[submodule "com.unity.services.samples.use-cases"]
	path = UseCaseSamples
	url = git@github.com:Unity-Technologies/com.unity.services.samples.use-cases.git
	branch = main
[submodule "com.unity.services.samples.game-lobby"]
	path = GameLobbySample
	url = git@github.com:Unity-Technologies/com.unity.services.samples.game-lobby.git
	branch = main
