[submodule "com.unity.services.samples.game-operations"]
	path = GameOperationsSamples
	url = git@github.com:Unity-Technologies/com.unity.services.samples.game-operations.git
	branch = main
[submodule "com.unity.services.samples.game-lobby"]
	path = GameLobbySample
	url = git@github.com:Unity-Technologies/com.unity.services.samples.game-lobby.git
	branch = main
